{% extends 'template.html' %}



{% block main_content %}

  
{% block content %}
<h1>Détails du cour : {{ cour.intituleCour }}</h1>
<p><strong>Matière :</strong> {{ cour.matiere }}</p>
<p><strong>Date de création :</strong> {{ cour.date_creation }}</p>
<p><strong>Description :</strong> {{ cour.description }}</p>
<p><strong>Fichier :</strong>   <a href="{% url 'cour-download' cour.pk %}">Télécharger</a></p>
{% endblock %}


  <!-- end login section -->

  <!-- end event section -->
{% endblock  %}