{% extends 'template.html' %}



{% block main_content %}

<section class="event_section layout_padding">
    {% block content %}
      <div class="container">
        <div class="heading_container">
          <h3>

          </h3>
          <p>
      
          </p>
        </div>
        {% for projet in object_list %}
        <div class="event_container">
          <div class="box">
            <li>
                
            <a href="{% url 'projet-show' projet.pk %}"> {{ projet.intituleProjet }}</a>
            <a href="{% url 'projet-show' projet.pk %}"> {{ projet.deadline }}</a>
              <a href="{% url 'devoir-download' projet.pk %}">Télécharger le devoir </a>
             
              </li>
          </div>
        </div>
        {% endfor %}
        <div class="btn-box">
            <a href="{% url 'projet-create' %}">Ajouter </a>
          </a>
        </div>
      </div>
    {% endblock %}
  </section>
{% endblock  %}