{% extends 'template.html' %}



{% block main_content %}
<section class="login_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <h3>

            </h3>

            </p>
            <a href="">
       
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="login_form">
            <h5>

            </h5>
              <form method="POST" action="">
                  {% csrf_token %}
                  <fieldset>
                    <div class="field">
                      <label class="label_field">Nom enseignant</label>
                      {{ form.username }}
                    </div>
                    <div class="field">
                      <label class="label_field">Email</label>
                      {{ form.email }}
                      <div class="field">
                        <label class="label_field">password</label>
                        {{ form.password1 }}
                      </div>
                      <div class="field">
                        <label class="label_field">password conf</label>
                        {{ form.password2 }}
                      </div>
                    </div>
                    <div class="field" style="display: none;">
                      <label class="label_field">Enseignant</label>
                      {{ form.is_enseignat }}
                    </div>
                    <div class="field">
                      <label class="label_field">Numero</label>
                      {{ form.numero }}

                      <div class="field">
                          <label class="label_field">Matiere</label>
                          {% for choice in form.matiere_enseignant.field.choices %}
                              <div class="checkbox">
                                  <label>
                                      <input type="checkbox" name="{{ form.matiere_enseignant.name }}" value="{{ choice.0 }}">
                                      {{ choice.1 }}
                                  </label>
                              </div>
                          {% endfor %}
                      </div> 
                    <!-- <div class="field">
                      <label class="label_field">Matiere</label>
                      {{ form.matiere_enseignant }}
                    </div> -->
                    <!-- <div class="field">
                      <label class="label_field">matiere</label>
                      {{ form.matiere_enseignant }}
                    </div> -->
                    <div class="field">
                      <a class="forgot" href="{% url 'login' %}"
                        >avez-vous un compte?</a
                      >
                    </div>
                    {{ form.errors }}
                    <div class="field margin_0">
                      <button class="main_bt">S'inscrire</button>
                    </div>
                  </fieldset>
      </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock  %}